form {
    .mat-form-field {
        width: 100%;
        margin-bottom: 1rem;
    }
    
    .mat-error {
        font-size: 0.8rem;
        color: #f44336;
    }
    
    button[type="submit"] {
        width: 100%;
        margin-top: 1rem;
    }

    .reset {
        width: 30%;
        margin-top: 1rem;
        // color: #ff420f;
        // background-color: white;
    }

}

mat-card {
    display: flex; /* or inline-flex */
  }