asdf
<mat-card>
  <div *ngIf="resetRequested === true;">
    <div *ngIf="resetResponse === 'email sent'">
      Reset Email Sent. Please check your email.
    </div>
    <div *ngIf="resetResponse === 'no such'">
      I didn't find an account matching that email address. Please try again or register a new account.
    </div>
    <button class="reset" mat-raised-button color="" (click)="showLoginInstead()" >Back to Login</button>
  </div>
  <div *ngIf="resetRequested === false;">
    <form [formGroup]="form" (ngSubmit)="sendPasswordResetEmail()">
  
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" type="email">
        <mat-error *ngIf="email && email.invalid && (email.dirty || email.touched)">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
    
      <button mat-raised-button color="primary" type="submit">Send Password Reset Email</button>
      <button class="reset" mat-raised-button color="" (click)="showLoginInstead()" >Back to Login</button>
    </form>
  </div>
</mat-card>