
<mat-card>
    <form [formGroup]="form" (ngSubmit)="sendPasswordResetEmail()">
  
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" type="email">
      <mat-error *ngIf="email && email.invalid && (email.dirty || email.touched)">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Send Password Reset Email</button>
    <button class="reset" mat-raised-button color="" (click)="showLoginInstead()" >Back to Login</button>

  </form>
</mat-card>