mat-tab-group {
    width: 100%;
}

mat-card {
    display: flex; /* or inline-flex */
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

button {
    width: 20%;
    margin-top: 1rem;
    background-color: #ff420f;
    color: white;
}

.message {
    color:#ff420f;
    font-size: large;
    padding-top: 1rem;
    padding-bottom: 1rem;
}