<div *ngIf="componentToShow === 'exists' || componentToShow === 'invalid' || componentToShow === 'checkEmail'; else showForms">
    <div *ngIf="componentToShow === 'exists' ">
        This email is already associated with an account.  Please log in, or click here to have us send a reset email.
    </div>
    <div *ngIf="componentToShow === 'invalid' ">
        This token is either expired or invalid.  Please click here to have us send a new one to your email.
    </div>
    <div *ngIf="componentToShow === 'checkEmail' ">
        Success! We sent a confirmation email to your address. Please follow the link to verify your address and activate your account.
    </div>
</div>
<ng-template #showForms>
    <h1>
        Sign in or up!
    </h1> 
    <mat-tab-group>
        <mat-tab label="Login">
            <app-login></app-login>
        </mat-tab>
        <mat-tab label="Register">
          <app-register></app-register>
        </mat-tab>
    </mat-tab-group>
</ng-template>