<mat-card>
  <form [formGroup]="form" (ngSubmit)="login()">

  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email" type="email">
    <mat-error *ngIf="email && email.invalid && (email.dirty || email.touched)">
      Please enter a valid email address
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" formControlName="password" type="password">
    <mat-error *ngIf="password && password.invalid && (password.dirty || password.touched)">
      Please enter a password
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Log in</button>
  <button class="reset" mat-raised-button color="" (click)="showResetInstead()" >Forgot / Reset</button>

  </form>
</mat-card>