<div *ngIf="!isUserAdmin; else loggedIn">
  <div *ngIf="isResetRoute; else normal">
    <app-reset-pass-form [token]="token"></app-reset-pass-form>
  </div>

  <ng-template #normal>
    <app-auth></app-auth>
  </ng-template>
</div>

<ng-template #loggedIn>
  <mat-toolbar>
    <h1>{{title}}</h1>

    <button mat-button (click)="logout()">
      Log out
    </button>

    <button mat-button routerLink="/dashboard">
      Dashboard
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>
</ng-template>
