.container-page {
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    
}

.button-container {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 40px;
}

.add-party {

 background: linear-gradient(white, #dee0f5); 
 border-style: solid;
 border-color: #ff420f;
 color: #ff420f;
 border-width: 1px;

}

.cancel-add {

    background: #ff420f; 
    border-style: solid;
    border-color: linear-gradient(white, #dee0f5);
    color: linear-gradient(white, #dee0f5);
    border-width: 2px;
   
   }

.row-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    background: none; //linear-gradient(#dee0f5, white); 
    // width: 400px;
    // border-radius: 10px;
    // padding-top: 12px;
    // border-style: solid;
    // border-width: 1px;
    // border-color: #ff420f;


}

.row-container .event-info {

}

.row-element{
    color: #ff420f;
}

.back-button {
    border-style: solid;
    border-width: 1px;
    border-color: #ff420f;
    float: right;
    margin-right: 20px;
}

