<div *ngIf="event" class="" >
    <button  class="back-button" mat-button type="button" (click)="goBack()">go back</button>
    <div class="container event-info">
        <div class="row-container">
            <div>id: {{event!.id}}</div>
            <h3 class="">{{event!.date}}</h3>
    
            <h1 class="row-element">{{event!.headliner}}</h1>
            <h3 class="">{{event!.venue}}</h3>
            <div>Doors: {{event!.doors_time}}</div>
            <div>Start: {{event!.startTime}}</div>


    
        </div>
        <div *ngIf="false" >
            <div>id: {{event!.id}}</div>
            <div>
              <label for="headliner">Headliner: </label>
              <input id="headliner" [(ngModel)]="event!.headliner" placeholder="headliner">
            </div>
        </div>
    </div>
    <div class="button-container">
        <button class="add-party" mat-fab color="accent" aria-label="Example icon button with a home icon" (click)="toggleAddMode()">
                <mat-icon >add</mat-icon>
         </button>
    </div>
    <div *ngIf="!addMode else addPartiesMode">
        <div class="button-container">
            <button class="add-party" mat-fab color="accent" aria-label="Example icon button with a home icon" (click)="toggleAddMode()">
                    <mat-icon >add</mat-icon>
             </button>
        </div>
        <div class="container">
            <app-pickup-party *ngFor="let pickup of createdPickups" [pickup]="pickup"
            >
            </app-pickup-party>
        </div>
    </div>
    <ng-template #addPartiesMode>
        <div class="button-container">
            <button class="cancel-add" mat-fab aria-label="Example icon button with a home icon" (click)="toggleAddMode()">
                    X
             </button>
        </div>
        <app-add-parties
            [possiblePickups]="possiblePickups"
            [eventId]="eventId"
        >

        </app-add-parties>
    </ng-template>
</div>

