.reservation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  margin: 1em;
  padding: 1em;
}

.reservation-name {
  font-weight: bold;
}

.reservation-controls {
  display: flex;
  align-items: center;
  gap: 1em;
}
