<mat-card>
    <form [formGroup]="form" (ngSubmit)="register()">
    <mat-form-field>
      <input matInput placeholder="First Name" formControlName="firstName">
      <div *ngIf="firstName && firstName.invalid && (firstName.dirty || firstName.touched)">
        Please enter your first name
      </div>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastName">
        <div *ngIf="lastName && lastName.invalid && (lastName.dirty || lastName.touched)">
          Please enter your last name
        </div>
      </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" type="email">
      <div *ngIf="email && email.invalid && (email.dirty || email.touched)">
        Please enter a valid email address
      </div>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" type="password">
      <div class="mat-error" *ngIf="password && password.invalid && (password.dirty || password.touched)">
        Please enter a password
      </div>
      <div class="mat-error" *ngIf="password.invalid && password.errors.minlength ">Password must be at least 8 characters long</div>
      <div class="mat-error" *ngIf="showPasswordConstraintsError">Password must have at least contain at least 1 of each of the following: 8 total characters, a special character, a number, an uppercase and lowercase letter.</div>
      
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password">
      <div *ngIf="confirmPassword && confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
        Please confirm your password
      </div>
      <div class="mat-error" *ngIf="showPasswordsMismatchError">
        Passwords do not match
      </div>
    </mat-form-field>
  
    <button mat-raised-button color="primary" [disabled]="form.invalid || form.disabled || showPasswordConstraintsError || showPasswordsMismatchError" type="submit">Register</button>
  </form>
</mat-card>
  